.bgingredients{
    height:  290px;
    width: 100px;
    overflow: auto;
}
.bgingredients{
    text-align: center;

}
.ingredientsblock{
    background-color: #f4b46c;
    margin: 30px auto 0 ;
    display: table;
    max-width: 200px;
    width:  100%;
    border-radius: 20px;
    text-align: center;
}
.ingredientsblock p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}