.App {
    text-align: center;
}

.container {
    display: flex;
    margin: 50px;
}


.ing {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.bur {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px;
    width: 200px;
}

.App-link {
    color: #61dafb;
}

