* {
  text-align: center;
}
.ingredient{
  border-width: 2px ;
  border-style: solid;
  font-weight: 600;
}

.burger{
  height: 15px;
  width: 70%;
  margin-top: 0;
  margin-bottom: 1px;
  border: 1px solid black;
}

.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  width: 49%;
  background-color: lightgray;
}

.pan{
width: 80%;
height: 40px;
background-color: gray;
align-self: center;

}
button{
  margin: 15px;
  height: 40px;
  width: 60px;
  border-radius: 50px;
  margin: 5px auto;
}

ul{
  list-style: none;
}


p{
  padding: 5px;
  border-radius: 5px;
  align-self: center;
}