body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Papyrus', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Comic Sans MS', 'Papyrus', sans-serif;
}

body {
  background-color: #ffdb58;
  margin: 20px auto;
}

.App {
  display: flex;
  margin: 100px auto;
  max-width: 1400px;
  justify-content: space-between;
  border-radius: 25px;
}

.ingredient {
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
}

.container {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: #feeeb9;
}

.sideBySide {
  width: 800px;
}

.main {
  width: 1200px;
  border: 2px solid black;
  border-radius: 25px;
  margin: 20px auto;
  padding: 20px;
  background-color: #feeeb9;
}

.burgerStackerArea {
  display: flex;
  flex-direction: column-reverse;
  margin: auto 0
}

button {
  margin: 5px;
  border-radius: 25px;
  font-family: 'Comic Sans MS', 'Papyrus', sans-serif;
  font-size: 1.5em;
}

li {
  width: 500px;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

h1 {
  text-align: center;
}