body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  background-color: bisque;
  height: 600px;
  width: auto;
}

.ingredients {
  background-color: aquamarine;
  height: 600px;
  width: 50%;
}
.stacker {
  background-color: lightskyblue;
  height: 600px;
  width: 50%;
}
